<nav class="navbar navbar-light bg-light">
  <a routerLink='home' class="im-links">Home</a>
</nav>

<nav class="navbar navbar-light bg-light">
  <a routerLink='../category/view-category' class="im-links">View Categories</a>
</nav>

<nav class="navbar navbar-light bg-light">
  <a routerLink='../category/create-category' class="im-links">Add Categories</a>
</nav>

<nav class="navbar navbar-light bg-light">
  <a routerLink='../category/edit-category' class="im-links">Edit Categories</a>
</nav>

<nav class="navbar navbar-light bg-light">
  <a routerLink='../category/delete-category' class="im-links">Delete Categories</a>
</nav>

<nav class="navbar navbar-light bg-light">
  <a routerLink='../incident/view-incident' class="im-links">View Incidents</a>
</nav>

<nav class="navbar navbar-light bg-light">
  <a routerLink='../incident/create-incident' class="im-links">Add Incidents</a>
</nav>

<nav class="navbar navbar-light bg-light">
  <a routerLink='../incident/edit-incident' class="im-links">Add Comments</a>
</nav>

<nav class="navbar navbar-light bg-light">
  <a routerLink='../incident/delete-incident' class="im-links">Delete Incidents</a>
</nav>


<nav class="navbar navbar-light bg-light">
  <a routerLink='../category/view-category' class="im-links">View Logs</a>
</nav>


