<div class="row">

  <div class="col-md-3">
    <div class="card div-shadow" style="width: 22rem;">
      <div class="card-body">
        <p class="card-text">Click to see all the categories</p>
        <a routerLink='../category/view-category' class="im-links">View Categories</a>
      </div>
    </div>
    <br />
  </div>

  <div class="col-sm-1">
  </div>

  <div class="col-md-3">
    <div class="card div-shadow" style="width: 22rem;">
      <div class="card-body">
        <p class="card-text">Only admin can add new categories</p>
        <a routerLink='../category/create-category' class="im-links">Add Categories</a>
      </div>
    </div>
    <br />
  </div>

  <div class="col-sm-1">
  </div>

  <div class="col-md-3">
    <div class="card div-shadow" style="width: 22rem;">
      <div class="card-body">
        <p class="card-text">Only admin can edit categories</p>
        <a routerLink='../category/edit-category' class="im-links">Edit Categories</a>
      </div>
    </div>
    <br />
  </div>


  <div class="col-md-3">
    <div class="card div-shadow" style="width: 22rem;">
      <div class="card-body">
        <p class="card-text">Click to see all the incidents</p>
        <a routerLink='../incident/view-incident' class="im-links">View Incident</a>
      </div>
    </div>
    <br />
  </div>

  <div class="col-sm-1">
  </div>

  <div class="col-md-3">
    <div class="card div-shadow" style="width: 22rem;">
      <div class="card-body">
        <p class="card-text">Create new incident</p>
        <a routerLink='../incident/create-incident' class="im-links">Create Incident</a>
      </div>
    </div>
<br />
  </div>

  <div class="col-sm-1">
  </div>

  <div class="col-md-3">
    <div class="card div-shadow" style="width: 22rem;">
      <div class="card-body">
        <p class="card-text">Add comments</p>
        <a routerLink='../incident/view-incident' class="im-links">Add comments</a>
      </div>
    </div>
    <br />
  </div>

  <div class="col-md-3">
    <div class="card div-shadow" style="width: 22rem;">
      <div class="card-body">
        <p class="card-text">Delete Incident</p>
        <a routerLink='../incident/view-incident' class="im-links">Delete Incident</a>
      </div>
    </div>
    <br />
  </div>

  <div class="col-sm-1">
  </div>

  <div class="col-md-3">
    <div class="card div-shadow" style="width: 22rem;">
      <div class="card-body">
        <p class="card-text">Delete Categories</p>
        <a routerLink='../incident/view-incident' class="im-links">View Incident</a>
      </div>
    </div>
    <br />
  </div>

  <div class="col-sm-1">
  </div>

  <div class="col-md-3">
    <div class="card div-shadow" style="width: 22rem;">
      <div class="card-body">
        <p class="card-text">view audit logs</p>
        <a routerLink='../incident/view-incident' class="im-links">View Incident</a>
      </div>
    </div>
    <br />
  </div>

</div>
